@{
  Layout = "_Layout";
}

<h1>Pierre's Sweet and Savory Treats</h1>

<p>@Html.ActionLink("Browse Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Browse Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("New User? Click Here!", "Index", "Account")</p>